@model IEnumerable<Doctor>

@{
    ViewData["Title"] = "Doctors";
    Layout = "_Admin";
}

<p>
    <a asp-action="Add" class="btn btn-success btn-sm">Create New</a>
</p>

<table class="table" id="tblStudent">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorSchedule)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         <tr class="Item-row">
            <td>
                @item.DoctorName
            </td>
            <td>
                @item.DoctorSchedule
            </td>
            
            <td>
                <a class="btn btn-sm btn-warning text-light" asp-controller="Doctor" asp-action="edit" asp-route-id="@item.ID" >Edit</a> ||
                <a href="javascript:;" class="btn btn-sm btn-danger text-light js-delete" data-id="@item.ID" data-controller="Doctor">Delete</a> 
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/AjaxDelete.js"></script>
}