@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "My Appointments";
    Layout = "_Admin";
}


<div class="row">
    <div class="col-md-12">
        <form asp-controller="Appointment"  asp-action="Search" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mt-4 col-md-12"><input type="number" id="ID" name="ID" value="@ViewBag.DoctorID" hidden/></div>
            
            <div class="form-group mt-4 col-md-6">
                <label class="control-label">Appointment Start Date</label>
                <input required type="date" id="AppointmentStartDate" name="AppointmentStartDate"  class="form-control" />
                <span for="AppointmentStartDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 col-md-6">
                <label  class="control-label">Appointment End Date</label>
                <input required type="date"id="AppointmentEndDate" name="AppointmentEndDate" class="form-control" />
                <span for="AppointmentEndDate" class="text-danger"></span>
            </div>
            <div class="form-group  mt-1 mb-4">
                <input type="submit" value="Search" class="btn btn-primary btn-sm "style="width: 170px;" />
            </div>
        </form>
    </div>
</div>


<table class="table" id="tblStudent">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                Doctor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
           
            <td>
                @item.PatientName
            </td>
            <td>
                @item.PatientBirthDate.ToString("dd-MMMM-yyyy")
            </td>
            <td>
                @item.AppointmentDate.ToString("dd-MMMM-yyyy H:mm tt")
            </td>
            <td>
                @item.Doctor.DoctorName
            </td>
            <td></td>
        </tr>
        }
    </tbody>
</table>